body, html {
	height: 100%;
  }

.bg{
	background-image: url(./img/Tinder-logo.jpg);

	/* Full height */
	height: 100%; 

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

a{
	color: gray;
	text-decoration-line: underline;
}

h2 {
	font-weight: bold;
}
