body, html {
	height: 100%;
  }

.background_img{
	background-image: url(./img/Tinder-logo.jpg);

	/* Full height */
	height: 100%; 

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

a{
	color: gray;
	text-decoration-line: underline;
}

h2 {
	font-weight: bold;
}

.container{
	display: flex;
}

.btn{
	border-radius: 30px;
	white-space:normal !important;
    word-wrap: break-word; 
}

.card{
	align-content: center;
	margin: 100px 0px 87px 250px;
}
.app_link{
	margin: 0px;
}